In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("netflix_movies_detailed_up_to_2025.csv")

In [9]:
df2 = df.sort_values("revenue", ascending=False)
df_new = df2.head(10)
rev = df_new["revenue"]

In [10]:
print("Top 10 movies that earned highest revenue are\n--------------------------------")
for title,revenue in zip(df_new["title"], df_new["revenue"]):
    print(f"{title} - {revenue/1000000000:.2f}B $")

Top 10 movies that earned highest revenue are
--------------------------------
Avengers: Endgame - 2.80B $
Avatar: The Way of Water - 2.32B $
Star Wars: The Force Awakens - 2.07B $
Avengers: Infinity War - 2.05B $
Ne Zha 2 - 1.99B $
Spider-Man: No Way Home - 1.92B $
Inside Out 2 - 1.70B $
Jurassic World - 1.67B $
The Lion King - 1.66B $
The Avengers - 1.52B $

In [21]:
movies_per_year = df["release_year"].value_counts().sort_index(ascending = False)
print(f"{movies_per_year}")

release_year
2025    1000
2024    1000
2023    1000
2022    1000
2021    1000
2020    1000
2019    1000
2018    1000
2017    1000
2016    1000
2015    1000
2014    1000
2013    1000
2012    1000
2011    1000
2010    1000
Name: count, dtype: int64

In [35]:
print("Top 10 genres ranked by number of movies made on each genre")
common_genres = df["genres"].value_counts()
print(common_genres.head(10))  # Top 10 genres

Top 10 genres ranked by number of movies made on each genre
genres
Drama               1336
Comedy               776
Documentary          587
Drama, Romance       473
Horror               391
Comedy, Drama        389
Horror, Thriller     356
Comedy, Romance      242
Romance              232
Romance, Drama       230
Name: count, dtype: int64

In [31]:
common_country =df["country"].value_counts()

In [34]:
print("No. of movies per country top 10 ranking")
common_country.head(10)

No. of movies per country top 10 ranking

country
United States of America                    5421
Japan                                        845
South Korea                                  789
France                                       612
United Kingdom                               581
India                                        419
United Kingdom, United States of America     401
Canada                                       348
Canada, United States of America             338
Spain                                        260
Name: count, dtype: int64